doctype html
html
    head
        title Spotify Visualization
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
    body
        p#user-id(style="display:none") #{data.id}
        if data.displayName
            p Welcome #{data.displayName} &nbsp&nbsp&nbsp&nbsp
                a.btn.btn-primary(href='/logout' role="button") Log Out
                a.btn.btn-info(class="questionnaire" target="_blank") I am happy with the playlist now
            p#start-feedback(style="display:none; color:yellow; float:right") Please ensure that you have spent more than 10 minutes on playing the application, and have rated all recommended songs.
           
        else
            p Welcome #{data.id} &nbsp&nbsp&nbsp&nbsp
                a.btn.btn-primary(href='/logout' role="button") Log Out
                a.btn.btn-info(class="questionnaire" target="_blank") I am happy with the playlist now
            p#start-feedback(style="display:none; color:yellow; float:right") Please ensure that you have spent more than 10 minutes on playing the application, and have rated all recommended songs.
        div.row
            div.col-md-3.sub-block
                h4 Recommendations source
                div.seed.customized-scroll#artist-div
                    h5 The top artists you have&nbsp&nbsp&nbsp&nbsp
                    div#artist-seed
                div.seed.customized-scroll#track-div
                    h5 The top tracks you have&nbsp&nbsp&nbsp&nbsp
                    div#track-seed
                div.seed.customized-scroll#genre-div
                    h5 The top genres you have&nbsp&nbsp&nbsp&nbsp
                    div#genre-seed
                div.loading#initial-loading

            div.col-md-5.sub-block
                h4 Recommendations Processor
                    
                br
                .loading#process-loading
                #seed-block
                    
                    div.drop-block
                        h6 Weight of selected artists:&nbsp
                            span#artist-weight-val
                                | 50
                        input.bootstrap-slider#artist-weight(type="text" value="50" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-id="artist-weight" data-slider-handle="round")
                        div.drop-seeds#drop-artists
                        h6 Weight of selected tracks:&nbsp
                            span#track-weight-val
                                | 50
                        input.bootstrap-slider#track-weight(type="text" value="50" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-id="track-weight" data-slider-handle="round")
                        div.drop-seeds#drop-tracks
                        h6 Weight of selected genres:&nbsp
                            span#genre-weight-val
                                | 50
                        input.bootstrap-slider#genre-weight(type="text" value="50" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-id="genre-weight" data-slider-handle="round")
                        div.drop-seeds#drop-genres
                    div.details

            div.col-md-4.sub-block
                h4 Recommendations
                label The top 20 songs (if you have a problem to play the music by "play" button, you can try to click Spotify icon.)
                div.recom.customized-scroll
                    div#recom-seeds
                    div.loading#result-loading
        script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../bootstrap/dist/js/bootstrap.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../jquery.cookie/jquery.cookie.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/data-vis.js", charset = 'utf-8')
        link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
        link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
        link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")